body {
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-color: lightsalmon;
}

h1 {
font-family:Lucida, Helvetica, sans-serif;
font-size:36px;
color: blue;
margin-top: 20px;	
}

div#conteudo {
    margin-left: 100px;
}

.entrada {
    position: absolute;
    margin-left: 80px;
}

label {
    width: 180px;
}

div.message {
    background-color: lightcyan;
    border-radius: 3px;
    border-style:single;
    box-shadow: 2px 2px 2px black;
    padding: 10px;
    position:relative; 
    margin:auto; 
}